
* {
    --accent-color: #6839EF;
    --default-color: 16, 4, 13;
    --background-color: 227, 223, 237;
    --error-color: #BF0606;
    --warn-color: #EA6D27;
    --primary-hover-color: #6839EF;
}

h1, h2, h3, h3, h4, h5, h6, p {
    margin: 0;
    margin-block: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: Raleway, sans-serif;
    background: linear-gradient(117.7deg, rgba(0, 0, 0, 0) -6.38%, rgba(104, 57, 239, 0.2) 99.27%), #070410;
    color: rgb(var(--default-color));
}

::-webkit-scrollbar {
    width: 0;
}

#root {
    display: flex;
    /* align-items: stretch; */
    justify-content: stretch;
    height: 100%;
}

a, button {
    color: var(--default-color);
    background-color: var(--background-color);
    text-decoration: none;
    transition: 200ms ease-in;
    border-radius: 4px;
}

/*
a:hover, button:hover {
    color: var(--accent-color);
}
*/
