.page_outlet {
    width: 100vw;
    min-height: 100%;
    display: block;
    margin: 20px;
    border-radius: 4px;
    padding: 20px;
    background-color: rgba(var(--background-color), .90);
    backdrop-filter: blur(20px);
}
